#container {
  width: 60rem;
  /* height: 46rem; */
  height: 100vh;
  display: block;
  margin: auto;
  background-color: #66aaa6;
  position: relative;
}

#gameboard {
  max-width: 57.5rem;
  background: white;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: center;
}

.card {
  width: 9.0625rem;
  height: 9.0625rem;
  margin: 5px;
  position: relative;
}

.card-face-down {
  background-color: #0e2b45;
  width: 9.0625rem;
  height: 9.0625rem;
  position: absolute;
  display: flex;
}

.card-face-up {
  position: absolute;
  display: flex;
}

/* splah screen */

#splash h1 {
  text-align: center;
  color: white;
  font-size: 5rem;
}

#logo-main {
  display: block;
  width: 30%;
  height: 30%;
  margin: 0.5rem auto;
}

#player-name-div,
#username-display {
  margin-top: 1rem;
}

#splash h2,
#splash h3 {
  color: white;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 1rem;
}

#name-display {
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}
#name-display h2 {
  margin: 0;
}
#reset-player {
  height: 2.5rem;
}
.input-group {
  margin: 0 auto;
  max-width: 70%;
}

.btn-group {
  background-color: rgb(150, 187, 235);
}

#grid-btns {
  display: flex;
  margin: 0 auto;
  max-width: 70%;
}

#grid-btns #radio-btns {
  max-width: 4rem;
}

.btn-outline-primary {
  background-color: white;
}

.btn-outline-primary:hover {
  background-color: #0d6efd;
  color: white;
}

#timer-controls {
  display: flex;
  justify-content: center;
}

.form-check {
  height: 2rem;
}

#timer-switch {
  height: 100%;
  width: 3rem;
  margin-right: 1rem;
}

#game-btns {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

/* gameboard */
/* header */
#game #displays {
  display: flex;
  flex-wrap: wrap;
}

#guess-counter,
#match-counter {
  margin: 0 0.5rem 0.5rem;
  color: white;
  font-size: 2rem;
}
#username {
  flex-grow: 1;
  text-align: center;
  color: white;
  font-size: 2rem;
  margin-top: 0.5rem;
}
.numeric-display {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  color: red;
}
/* grid */
.card {
  justify-self: center;
}

.card-face-down {
  display: flex;
  justify-content: center;
  align-items: center;
}

#card-logo {
  max-width: 80%;
  max-height: 80%;
}

#secs-background {
  background-color: white;
  width: 6rem;
  margin: 0 auto;
  border-radius: 15%;
}

#gameboard {
  display: grid;
  margin: 0 auto;
  height: 39rem;
  background-color: #66aaa6;
}

#gameboard.four {
  grid-template-columns: 1fr 1fr;
  max-width: 20rem;
}

#gameboard.eight {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  max-width: 40rem;
}

#gameboard.twelve {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  max-width: 40rem;
}

#gameboard.sixteen {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  max-width: 40rem;
}

#gameboard.twenty {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  max-width: 50rem;
}

#gameboard.twenty-four {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

/* buttons */
#game #buttons {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

/* game over */

#cat-image img {
  display: block;
  width: 30%;
  height: 30%;
  margin: 0.5rem auto;
}

#game-over h2 {
  text-align: center;
  font-size: 5rem;
  color: white;
}

.game-over-html {
  text-align: center;
  color: white;
  font-size: 2rem;
}

#game-over-btns {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}
